# -----------------------------
# CMake files
# -----------------------------
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
CMakeUserPresets.json

# -----------------------------
# Node.js
# -----------------------------
node_modules/
**/node_modules/
.vscode-test/
*.vsix
dist/
out/

# -----------------------------
# Local setup / environments
# -----------------------------


**/__pycache__/
**/.dockerignore
.venv/
**/.venv/
venv/
**/venv/
env/
**/env/

# -----------------------------
# JetBrains / CLion
# -----------------------------
# JetBrains specific template can be found here:
# https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
# Optionally ignore the entire idea folder (uncomment if needed)
# .idea/
server/.env
server/node_modules
.venv
/backend/node_modules
integration.md

/backend/outputs/diagrams/